opencv-python == 3.4.2.16
opencv-contrib-python == 3.4.2.16
numpy

coloredlogs
wmi
pywin32
psutil
names
PyQt5
requests
screeninfo
grpcio
grpcio-tools
googleapis-common-protos

#flask
#flask_jsonrpc
#flask_sqlalchemy
#flask_cors
#flask_socketio

