[superai]
游戏路径 = "d:/win/game/dnf/地下城与勇士/start/DNFchina.exe"

wegame路径 = "d:/Program Files (x86)/WeGame/tgp_daemon.exe"

单账号刷角色数量 = 5

// 易键鼠/幽灵按键
按键 = 易键鼠

// 默认创建(按照顺序): 男魔法师,守护者,男鬼剑士,女格斗家
// 创建角色 = 男魔法师
